.cardTitlese_worp {
    background-color: #f7f7f7;
    padding: 130px 0;
    .marginauto {
        max-width: 488px;
        margin: 0 auto;
        .cardPr {
            font-size: 14px;
            font-weight: 500;
            color: #939393;
        }
        .cardHed {
            font-size: 32px;
            line-height: 40px;
            font-weight: 600;
            color: #232323;
            margin-bottom: 57px;
        }
    }
    .cardGrup {
        .mainCard {
            border: 0;
            border-radius: 0;
            background-color: #fff;
            .cardimg {
                border-radius: 0;
            }
            .cardBody {
                padding: 30px;
                .cardTitle {
                    font-size: 18px;
                    text-decoration: none;
                    color: #000;
                    font-weight: 100;
                    transition: all 0.5s;
                    &:hover {
                        color: #ff214f;
                    }
                }
                .cardpara { 
                    margin: 15px 0;
                    color: #939393;

                }
                .separatorline {
                    width: 100%;
                    background: #dbdbdb;
                    height: 1px;
                    margin: 30px 0;
                }
                .card-text {
                    .text-muted {
                        font-weight: 400;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}