.counting_worp {
    background: #f3f3f3a3;
    padding: 130px 0;
    .project_countig {
        .costom_class {
            .counting_worp {
                text-align: center;
                font-size: 20px;
                padding: 40px;
                border: 6px solid transparent;
                outline: 1px solid #ededed;
                transition: all 0.5s;
                .count_er {
                    font-size: 27px;
                    font-weight: 600;
                    color: #000;
                    .counter {
                         font-family: 'Alata', sans-serif;
                    }
                }
                .countex {
                    font-size: 14px;
                    color: #757575;
                }
                
                &:hover {
                    border: 6px solid #ff214f;
                }
                .iconCount {
                    font-size: 40px;
                    color: #757575;
                    margin-bottom: 10px;
                }
            }
        }
    }
}