.counting_worp {
    background: #f3f3f3a3;
    padding: 130px 0;
        .costom_class {
            .counting_worp {
                text-align: center;
                font-size: 20px;
                padding: 40px;
                border: 6px solid transparent;
                outline: 1px solid #ededed;
                transition: all 0.5s;
                background: transparent;
                .count_er {
                    font-size: 27px;
                    font-weight: 600;
                    color: #000;
                    .counter {
                        font-family: 'Montserrat', sans-serif;
                    }
                }
                .countex {
                    font-size: 14px;
                    color: #757575;
                    font-weight: 500;
                }
                
                &:hover {
                    border: 6px solid #ff214f;
                }
                .iconCount {
                    font-size: 40px;
                    color: #757575;
                    margin-bottom: 10px;

                }
            }
            .counting_worp2 {
                text-align: center;
                font-size: 20px;
                padding: 40px;
                background: transparent;
                .count_er {
                    font-size: 30px;
                    font-weight: 600;
                    color: #000;
                    .counter {
                        font-family: 'Montserrat', sans-serif;
                    }
                }
                .countex {
                    font-size: 12px;
                    color: #757575;
                    font-weight: 500;
                }
                .border_digree {
                    position: relative;
                    text-align: center;
                    &::before {
                        position: absolute;
                        width: 21px;
                        height: 1px;
                        content: "";
                        background-color:#757575;
                        top: 50%;
                        left: 44%;
                        transform: rotate(90deg);

                    }
                }
                .count_icon {
                    margin-top: 40px;
                    i {
                        color: #757575;
                    }

                }
            }
        }
    
}