.fadeIn {
    background-color: #000;
    .castomBanner {
        background-image: url(../../imgs/blog2_9.png);
        position: relative !important;
        background-size: cover !important;
        overflow: hidden !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .castomPading {
        padding: 60px 85px;
        .heaB {
            .hed_text{
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 45px;
                max-width: 460px;
                line-height: 1;
                margin-bottom: 45px;
                
            
            }
            
        }
        .fadItem {
            color: #d6d5d5;
            font-weight: 500;
            margin-bottom: 10px;
            .intgerSpan {
                color: red;
                font-size: 20px;
                margin-right: 5px;
            }
        }
        p {
            font-size: 14px;
            color: #6f6f6f;
            margin-bottom: 25px;
        }
    }
    
}