.header {
    padding: 8px 0;
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : 100%;
    transition: all 0.5s;
    z-index   : 1080; 
    .mainContiner {
        .navbar {
            padding: 0;
            .logo {
                font-size: 30px;
                color: #000;
                font-weight: 700;
                text-transform: uppercase;
                span {
                    color: red;
                    font-size: 40px;
                    margin-left: -5px;
                 
                }
            }
            .collapse_add {
                .ullist {
                    margin:  0 auto;
                    .nav-item {
                        margin: 0 20px;
                        .nav-link {
                            font-size: 12px;
                            text-decoration: none;
                            transition: all 0.5s;
                            text-transform: uppercase;
                            font-family: 'Raleway', sans-serif;
                            padding: 15px 0;
                            color: #232323;
                            font-weight: 600;
                            cursor: pointer;
                        }
                        &.active,
                        &:hover {
                           .nav-link {
                            color: rgba(0,0,0,0.6);
                           }
                        }
                        
                    }  
                }
                
            }
            .lastC {
                margin: 0px;
                margin-left: 17px;
                .iCon{
                    margin-left: 10px;
                    text-decoration: none;
                    .FTGQ{
                        color: #000;
                        font-size: 16px;
                        margin-left: 5px;
                    }
                    
                }
                .srcbr {
                    border-right: 1px solid #bdb6b6;
                    padding-right: 10px;
                    margin-right: 10px;
                }
            }
            button,
            &.nav_toggler {
                outline: none;
                border: 0;
                position: relative;
            .navbar_icon {
                margin-right: -13px;
                .itm_sss {
                    display: block;
                }
                .cros_manu { 
                   .cros_item {
                        display: block;
                        height: 34px;
                    }
                }
                .itm_sss {
                    width: 23px;
                    padding: 1px;
                    margin: 5px 0;
                    background-color: #000;
                    border-radius: 10px;
                }
                .cros_manu {
                    .cros_item::before,
                    ::after {
                        width: 2px;
                        background: #000;
                        content: "";
                        position: absolute;
                        top: 20%;
                        left: 50%;
                        bottom: 20%;
                        border-radius: 5px;
                        
                    }
                    .cros_item::before {
                        transform: rotate(45deg);
                    }
                    .cros_item::after  {
                        transform: rotate(-45deg);
                    }
                }
                
            }
            &[aria-expanded="true"] {
                transition:  all 0.5s;
                .navbar_icon {
                    .itm_sss {display: none;}
                    .cros_manu {
                        display: block;
                    }
                }
            }
            &[aria-expanded="false"] {
                .navbar_icon {
                    .itm_sss {display: block;}
                    .cros_manu {
                        display: none;
                    }
                }
            }
        }
            
        }
    }
    &.fixedMenu {
        background: #1a1822;
        padding   : 0px 0;
        box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
        .mainContiner {
            .navbar {
                .logo {
                    color: #fff;
                    span {
                        color: #fff;
                    }
                }
                .collapse {
                    .ullist {
                        margin:  0 auto;
                        .nav-item {
                            .nav-link {
                                color: #fff;
                            }
                            &.active,
                            &:hover {
                                .nav-link {
                                    color: #bdb6b6;
                                }
                            }
                            
                        }  
                    }
                   
                }
                 .lastC {
                        .iCon {
                            text-decoration: none;
                            .FTGQ{
                                color: #fff;
                            }
                        }
                        .srcbr {
                            border-right: 1px solid #bdb6b6;
                            text-decoration: none;
                        }
                    }
                button,
                &.nav_toggler {
                    position: relative;
                    .navbar_icon {
                    
                        .itm_sss {
                            background-color: #fff;
                        }
                        .cros_manu {
                            .cros_item::before,
                            ::after {
                                background: #fff;
                                
                            }
                        
                        }
                        
                    }
                
                }
                        
            }
        }
        
    }
}
/*end header*/