.information {
    background-color: #000;
    padding-top: 100px;
    .info_hed {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #fff;
        font-size: 46px;
        line-height: 46px;
        margin: 25px 0;
    
    }
    .info_pra {
        font-size: 14px;
        color: #ddd;
        margin-bottom: 90px;
    }
    .imges {

    }
    .text-center {
        text-align: center!important;
        margin: 0 auto;
    }
    
}