@media (min-width: 767px) and (max-width: 1200px) { }

@media(max-width: 1024px) {
    .information .text_center {
        max-width: 569px;
    }
    .information .imges {
        margin-bottom: 0px;
    }
    .amazing_projects .amazingHeader .projects_head .amazing_head {
        max-width: 51%;
    }
    .Unique .castomPading .heaB .hed_text {
        font-weight: 400;
        font-size: 35px;
    }
    .shortcodes .shortBaner .sortManu {
        padding: 57px 30px;
    }
    .shortcodes .shortBaner .sortManu .sort_hed {
        font-size: 28px;
    }
    .shortcodes .shortBaner .sortManu .sort_pra {
        font-size: 12px;
    } 
    .shortcodes .shortBaner .sortManu .sortCuard {
        padding: 5px 13px; 
    }

}

// media for ipad pro 
@media (max-width: 991px) {}

//  media for ipad
@media (max-width: 768px) {
    .banner_worp .imgcamara {
        top: -154px;
        left: -234px;
        width: 569px;
    }
    .banner_worp .imgTree {
        top: -127px;
        right: 29px;
        width: 436px;
    }
    .banner_worp .imgNotbook {
        bottom: -413px;
        left: -303px;
        width: 713px;
    }
    .banner_worp .imgPad {
        position: absolute;
        bottom: -131px;
        right: -319px;
        width: 554px;
    }
    .banner_worp .markerPancil {
        bottom: 44px;
        width: 138px;
    }
    .banner_worp .redPancil {
        bottom: -162px;
        left: 109px;
        width: 240px;
    }
    .banner_worp .stapPin {
        bottom: 134px;
        left: 287px;
        width: 35px;
    }
    .banner_worp .stapPin2 {
        bottom: 152px;
        left: 249px;
        width: 35px; 
    }
    .banner_worp .padePen {
        bottom: 2px;
        right: 124px;
        width: 200px;
    }
    .banner_worp .banner_inner .banner .ban_hed {
        font-size: 52px;
    }
    .banner_worp .banner_inner .banner .ban_pra {
        font-size: 12px; 
    }
    .banner_worp .banner_inner .banner .downloade_now {
        padding: 13px 24px;
        text-decoration: none;
        font-size: 11px; 
    }
    .banner_worp .banner_inner .banner .ban_hed {
        margin-bottom: 5px;
    }
    .banner_worp .banner_inner .banner .ban_pra {
        margin-bottom: 20px; 
    }
    .about_button {
        margin-bottom: 30px;
    }
    .wow_fadeIn {
        padding: 80px 0;
    }
    .amazing_projects .amazingHeader .projects_head .amazing_head {
        max-width: 54%; 
    }
    // .amazing_projects .hover_link .custom_col .hover_con .hover_inner .textcentr .textItem {
    //     padding: 0px;
    // }
    // .amazing_projects .hover_link .custom_col .hover_con .hover_inner .textcentr .textItem .hover_hed {
    //     font-size: 12px;
    // }
    // .amazing_projects .hover_link .custom_col .hover_con .hover_inner .textcentr .textItem .hover_pra {
    //     font-size: 10px;
    // }
   
}

// media for mobile large
@media (max-width: 420px) {}

// media for mobile small
@media (max-width: 375px) {}

@media (max-width: 320px) {}