@media (min-width: 767px) and (max-width: 1200px) { }

@media(max-width: 1024px) {
    .banner_worp .imgcamara {
        top: -175px;
    }
    .banner_worp .padePen {
        right: 230px;
    }
    .banner_worp .stapPin2 {
        position: absolute;
        bottom: 247px;
        left: 306px;
    }
    .banner_worp .stapPin {
        bottom: 215px;
        left: 353px;
    }
    .information .text_center {
        max-width: 569px;
    }
    .information .imges {
        margin-bottom: 0px;
    }
    .amazing_projects .amazingHeader .projects_head .amazing_head {
        max-width: 51%;
    }
    .Unique .castomPading .heaB .hed_text {
        font-weight: 400;
        font-size: 35px;
    }
    .shortcodes .shortBaner .sortManu {
        padding: 57px 30px;
    }
    .shortcodes .shortBaner .sortManu .sort_hed {
        font-size: 28px;
    }
    .shortcodes .shortBaner .sortManu .sort_pra {
        font-size: 12px;
    } 
    .shortcodes .shortBaner .sortManu .sortCuard {
        padding: 5px 13px; 
    }

}

// media for ipad pro 
@media (max-width: 991px) {}

//  media for ipad
@media (max-width: 768px) {
    .header .mainContiner {
        margin: 0;
    }
    .banner_worp .imgcamara {
        top: -154px;
        left: -360px;
        width: 635px;
    }
    .banner_worp .imgTree {
        top: -86px;
        right: -47px;
        width: 500px;
    }
    .banner_worp .imgNotbook {
        bottom: -413px;
        left: -408px;
        width: 791px;;
    }
    .banner_worp .imgPad {
        bottom: -131px;
        right: -436px;
        width: 692px;
    }
    .banner_worp .markerPancil {
        bottom: 112px;
        width: 178px;
        left: 23px;
    }
    .banner_worp .redPancil {
            bottom: -162px;
        left: 35px;
        width: 300px;
    }
    .banner_worp .stapPin {
        bottom: 184px;
        left: 250px;
        width: 50px;
    }
    .banner_worp .stapPin2 {
        bottom: 220px;
        left: 210px;
        width: 50px;
    }
    .banner_worp .padePen {
        bottom: 2px;
        right: 100px;
        width: 300px;
    }

    .banner_worp .banner_inner .banner .ban_hed {
        font-size: 59px;
    }
    .banner_worp .banner_inner .banner .ban_pra {
        font-size: 14px; 
    }
    .banner_worp .banner_inner .banner .downloade_now {
        padding: 13px 25px;
        text-decoration: none;
        font-size: 12px; 
    }
    .banner_worp .banner_inner .banner .ban_hed {
        margin-bottom: 10px;
    }
    .banner_worp .banner_inner .banner .ban_pra {
        margin-bottom: 30px; 
    }
    .wow_fadeIn .wow_tpra {
        text-align: center;
    }
    .wow_fadeIn .wow_hed {
        text-align: center;
    }
    .wow_fadeIn .wow_pra {
        text-align: center;
    }
    .about_button {
        margin-bottom: 30px;
        text-align: center;
    }
    .wow_fadeIn .about_button .about {
        margin-bottom: 20px;
    }
    .wow_fadeIn {
        padding: 80px 0;
    }
    .amazing_projects .amazingHeader .projects_head .amazing_head {
        max-width: 54%; 
    }
    .information .info_hed {
        line-height: 35px;
        margin: 15px 0;
        font-size: 27px;
    }
    .information .info_pra {
        font-size: 12px;
        margin-bottom: 0;
    }
    .amazing_projects .amazingHeader .projects_head .amazing_head {
        max-width: 68%;
    }
    .dicover .disover {
        max-width: 100%;
        text-align: center;
    }
    .dicover .disover .wow_hed {
        font-size: 27px; 
    }
    .dicover .disover .wow_pra {
        padding-right: 0px; 
    }
    .about_btn {
        margin-bottom: 40px;
    }
    .dicover .iconBanner .iconPart .pra_text_icon {
        max-width: 100%; 
    }
    .dicover .iconBanner .iconPart .pra_text_icon {
        font-size: 14px; 
    }
    .dicover .iconBanner {
        text-align: center;
    }
    .Unique .castomPading {
        padding: 60px 30px;
    }
    .Unique .castomPading .heaB .hed_text {
        max-width: 100%;
        font-size: 38px;
        text-align: center;
    }

    .costom_class {
        margin-bottom: 30px;
    }
    section.iconItems {
        padding: 40px 0;
    }
    .shortcodes .shortBaner .sortManu {
        padding: 57px 30px;
        text-align: center;
    }
    
    .shortcodes .shortBaner .sortManu .sort_pra {
        max-width: 389px;
        margin: auto ;
    }
    
    .shortcodes .shortBaner .sortManu .sort_hed {
        max-width: 100%;
    }
    .shortcodes .shortBaner .sortManu .sort_button {
        margin-top: 30px;
    }
    .iconItems .addcastom .iconprag {
        font-size: 14px;
        max-width: 100%;
    }
    .iconItems .addcastom {
        margin: 20px 0;
    }

    .cardTitlese_worp {
        padding: 75px 0;
    }
    .cardTitlese_worp .marginauto .cardHed {
        font-size: 30px;
    }
    .cardTitlese_worp .cardGrup{
        margin-bottom: 30px;
    }

    .footer .footPra p {
        font-size: 14px;
    }
    .footer .footPra .disflx span {
        font-size: 14px;
        margin-left: 5px;
        margin-right: 0px;
    }
    // .amazing_projects .hover_link .custom_col .hover_con .hover_inner .textcentr .textItem {
    //     padding: 0px;
    // }
    // .amazing_projects .hover_link .custom_col .hover_con .hover_inner .textcentr .textItem .hover_hed {
    //     font-size: 12px;
    // }
    // .amazing_projects .hover_link .custom_col .hover_con .hover_inner .textcentr .textItem .hover_pra {
    //     font-size: 10px;
    // }
   
}

// media for mobile large
@media (max-width: 420px) {}

// media for mobile small
@media (max-width: 375px) {}

@media (max-width: 320px) {}