.hed_color {
 background: #fff;
}
// .header2 {
//     padding: 8px 0;
//     position  : fixed;
//     top       : 0;
//     left      : 0;
//     width     : 100%;
//     transition: all 0.5s;
//     z-index   : 1080; 
//     .mainContiner {
//         .navbar {
//             padding: 0;
//             .logoBrand {
//                 .fast{
//                     display: block;
//                 }
//                 .secknd {
//                     display: none;
//                 }
//             }
            
//             .collapse_add {
//                 .ullist2 {
//                     margin: 0;
//                     .nav-item {
//                         margin: 0 20px;
//                         .nav-link {
//                             font-size: 12px;
//                             text-decoration: none;
//                             transition: all 0.5s;
//                             text-transform: uppercase;
//                             font-family: 'Raleway', sans-serif;
//                             padding: 15px 0;
//                             color: #fff;
//                             font-weight: 600;
//                             cursor: pointer;
//                         }
//                         &.active,
//                         &:hover {
//                             .nav-link {
//                                 color: rgba(255,255,255,0.6);
//                             }
//                         }
                        
//                     }  
//                 }
                
//             }
//             .lastC {
//                 margin: 0px;
//                 .iCon{
//                     margin-left: 10px;
//                     text-decoration: none;
//                     .FTGQ2{
//                         color: #fff;
//                         font-size: 16px;
//                         margin-left: 5px;
//                     }
                    
//                 }
//                 .srcbr2 {
//                     border-left: 1px solid rgba(255,255,255,.15);
//                     border-right: 1px solid rgba(255,255,255,.15);
//                     padding: 0 20px;
//                     margin-right: 10px;
//                 }
//             }
//             button,
//             &.nav_toggler {
//                 outline: none;
//                 border: 0;
//                 position: relative;
//                 .navbar_icon {
//                     margin-right: -13px;
//                     .itm_sss {
//                         display: block;
//                     }
//                     .cros_manu { 
//                     .cros_item {
//                             display: block;
//                             height: 34px;
//                         }
//                     }
//                     .itm_sss {
//                         width: 23px;
//                         padding: 1px;
//                         margin: 5px 0;
//                         background-color: #fff;
//                         border-radius: 10px;
//                     }
//                     .cros_manu {
//                         .cros_item::before,
//                         ::after {
//                             width: 2px;
//                             background: #fff;
//                             content: "";
//                             position: absolute;
//                             top: 20%;
//                             left: 50%;
//                             bottom: 20%;
//                             border-radius: 5px;
                            
//                         }
//                         .cros_item::before {
//                             transform: rotate(45deg);
//                         }
//                         .cros_item::after  {
//                             transform: rotate(-45deg);
//                         }
//                     }
                    
//                 }
//                 &[aria-expanded="true"] {
//                     transition:  all 0.5s;
//                     .navbar_icon {
//                         .itm_sss {display: none;}
//                         .cros_manu {
//                             display: block;
//                         }
//                     }
//                 }
//                 &[aria-expanded="false"] {
//                     .navbar_icon {
//                         .itm_sss {display: block;}
//                         .cros_manu {
//                             display: none;
//                         }
//                     }
//                 }
//                 button,
//                 &.nav_toggler {
//                     position: relative;
//                     .navbar_icon {
//                         .itm_sss {
//                             background-color: #fff;
//                         }
//                         .cros_manu {
//                             .cros_item::before,
//                             ::after {
//                                 background: #fff;
                                
//                             }
                        
//                         }
                        
//                     }
                
//                 }
            
//             }
            
//         }
//     }
//     &.fixedMenu {
//         padding   : 0px 0;
//         top: -60px;
//         .mainContiner {
//             .navbar {
//                 .logoBrand {
//                     .fast{
//                         display: inline-block;
//                     }
//                     .secknd {
//                         display: none;
//                     }
//                 }
//                 .collapse {
//                     .ullist2 {
//                         margin:  0 0;
//                         .nav-item {
//                             .nav-link {
//                                 color: #fff;
//                             }
//                             &.active,
//                             &:hover {
//                                 .nav-link {
//                                     color: #bdb6b6;
//                                 }
//                             }
                            
//                         }  
//                     }
                   
//                 }
//                 .lastC {
//                     top: 11px;
//                     right: 45px;
//                     position: static;
//                     .iCon {
//                         text-decoration: none;
//                         .FTGQ{
//                             color: #fff;
//                         }
//                     }
//                     .srcbr2 {
//                         border-left: 1px solid rgba(255,255,255,.15);
//                         border-right: 1px solid rgba(255,255,255,.15);
//                         text-decoration: none;
//                     }
//                 }
//                 button,
//                 &.nav_toggler {
//                     position: relative;
//                     .navbar_icon {
                    
//                         .itm_sss {
//                             background-color: #fff;
//                         }
//                         .cros_manu {
//                             .cros_item::before,
//                             ::after {
//                                 background: #fff;
                                
//                             }
                        
//                         }
                        
//                     }
                
//                 }
                        
//             }
//         }
        
//     }
// }