.footer_bottom .footer_coprit .up_iconFixd {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  bottom: 30px;
  right: 10px;
  padding: 10px 15px;
  color: #fff;
  background-color: #87c34a;
  border-radius: 50%; }

.footer_bottom {
  background-color: #1c1c1c; }
  .footer_bottom .footer_coprit {
    position: relative; }
    .footer_bottom .footer_coprit .copyrit {
      padding: 20px 0;
      color: #6d6d6d;
      font-size: 13px;
      margin: 0; }
      .footer_bottom .footer_coprit .copyrit .c_txt {
        color: #87bd4a; }
    .footer_bottom .footer_coprit .up_icon {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      .footer_bottom .footer_coprit .up_icon a {
        text-decoration: none;
        color: #fff; }
